name: Upload
on:
  workflow_run:
    workflows: ["Scrape"]
    types:
      - completed
jobs:
  upload:
    name: Upload
    runs-on: ubuntu-latest
    env:
      CREDENTIALS: ${{ secrets.CREDENTIALS }}
      PUPPETEER_OPTIONS: '{ "headless": true }'
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-node@main
        with:
          node-version: 16
          cache: 'npm'
      - run: npm ci
      - name: Download videos
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: scrape.yml
          name: scraped-videos
          path: videos
      - name: Download videos.json
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: scrape.yml
          name: videos.json
          path: .
      - name: Download yt-auth
        continue-on-error: true
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: upload.yml
          name: yt-auth
          path: yt-auth
      - name: Run upload.js
        if: success() || failure()
        run: npm run upload
      - name: Upload videos.json
        uses: actions/upload-artifact@v3
        with:
          name: videos.json
          path: videos.json
      - name: Upload yt-auth
        uses: actions/upload-artifact@v3
        with:
          name: yt-auth
          path: yt-auth/*